$accent-5: #EBF2FF;
$accent-10: #DBE5FF;
$accent-20: #BECFFF;
$accent-30: #97AFFF;
$accent-40: #6E81FF;
$accent-50: #4C56FF;
$accent-60: #433FFF;
$accent-70: #2820E2;
$accent-80: #211DB6;
$accent-90: #20208F;
$accent-100: #151353;