@import './fonts.scss';
@import './easings.scss';
@import './colors.scss';
@import './theme.scss';

$header-height: 72px;

* {
  font-smooth: always;
  image-rendering: pixelated;
}

html,
body {
  height: 100%;
  min-height: 100vh;

  font-family: Inter;
}